<title>/爱心芭蕾婴幼儿游泳预约/爱心</title>
<meta charset="utf-8">
<meta name=viewport content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<script src="../js/angular.min.js"></script>
<script src="../js/jquery-3.5.1.min.js"></script>
<script src="../js/common.js"></script>
<body style="background-color:#AFEEEE">
	<input id="username" disabled />
	<div ng-app="timeSlotsApp" ng-controller="timeSlotsController">
		<table border="1">
			<tr>
				<th>今天</th>
				<th>明天</th>
			</tr>
			<tr ng-repeat="timeSlot in timeSlots | orderBy:'time':false">
				<td>
					<div ng-if="timeSlot.slots[0].num > 2" style="background-color:grey">{{ timeSlot.time }}人数：{{ timeSlot.slots[0].num }}</div>
					<div ng-if="timeSlot.slots[0].num < 3" onclick="selectSlot(this)" date="{{ timeSlot.slots[0].date }}" time="{{ timeSlot.time }}">{{ timeSlot.time }}人数：{{ timeSlot.slots[0].num }}</div></td>
				<td>
					<div ng-if="timeSlot.slots[1].num > 2" style="background-color:grey">{{ timeSlot.time }}人数：{{ timeSlot.slots[1].num }}</div>
					<div ng-if="timeSlot.slots[1].num < 3" onclick="selectSlot(this)" date="{{ timeSlot.slots[1].date }}" time="{{ timeSlot.time }}">{{ timeSlot.time }}人数：{{ timeSlot.slots[1].num }}</div></td>
			</tr>
		</table>
	</div>
	<input type="button" onclick="book()" value="预约" style="background-color:orange" />
	<input type="button" onclick="myBookings()" value="我的预约" />
	<div style="background-color:grey">灰色表示预约已满</div>

<script>
	var username = getUsername();
	document.getElementById("username").value = username;

	var app = angular.module('timeSlotsApp', []);
	app.controller('timeSlotsController', function($scope, $http) {
		var url = "/getTimeSlots";

		$http.get(url).then(function(response) {
			$scope.timeSlots = response.data;
		});
	});

	var selectedSlot;
	function selectSlot(slot) {
		if (selectedSlot != null) {
			selectedSlot.style.background = "white";
		}
		selectedSlot = slot;
		selectedSlot.style.background = "green";
	}

	function book() {
		if (selectedSlot == null) {
			alert("先选择时间")
		} else {
			alert(username + " 预约 " + selectedSlot.attributes["date"].value + " " + selectedSlot.attributes["time"].value);
			$.ajax({
				url: "saveBooking",
				type: "post",
				data: JSON.stringify({
					"username": username,
					"date": selectedSlot.attributes["date"].value,
				    "time": selectedSlot.attributes["time"].value
				}),
				contentType: "application/json",
				success: function(data) {
					alert(data);
					window.location.reload();
				}
			});
//					.error(function() { alert("error"); })

		}
	}

	function myBookings() {
		window.location = "bookings.htm?username=" + username;
	}
</script>
</body>